<header class="app-header navbar navbar-dark">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" ></a>

    <!--<div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>-->
  </nav>
</header>


<div class="app-body">

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <ul class="navbar-nav-inner ">
            <li class="nav-item active nav-link-bread">
              <a class="nav-link ubermenu-target-text" [routerLink]="['/tax-id-application']"><span class="bread-text">APPLY FOR A TAX ID (EIN) NUMBER </span></a>
            </li>
          </ul>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
   <div class="container">
     <div class="row">
       <div class="col-8">
         <h5>Legal info &amp; Disclaimer:</h5>
         <p><strong>Easy Doc Filing, LLC</strong>, and its employees, agents, and  representatives,&nbsp;are not affiliated with the Internal Revenue Service  (“IRS”) or any other governmental or regulatory body or agency. <strong>Easy Doc Filing, LLC </strong>provides paid  services to obtain Federal Tax Identification Numbers from the IRS. As a “Third  Party Designee,” pursuant to IRS Form SS-4, <strong>Easy Doc Filing, LLC </strong>prepares and submits applications for an  Employer Identification Number (“EIN”) to the IRS on behalf of its clients. <strong>Easy Doc Filing, LLC</strong> does not verify EIN  application submissions and is not responsible for the accuracy of the  information provided. Any individual may obtain and submit his or her own EIN  application at no cost through the official IRS website at <a href="http://www.irs.gov">www.irs.gov</a>.</p>
         <p>Use  of this website does not make you a client, or a prospective client, of <strong>Easy Doc Filing, LLC</strong>. <strong>Easy Doc Filing, LLC</strong> makes no warranties  or representations, express or implied, regarding the information on this  website. <strong>Easy Doc Filing, LLC</strong> is  not liable for any and all damages resulting from the use of, reference to, or  reliance on information provided on this website. It is provided for general  informational purposes only and does not constitute advice of any kind. For convenience, this website may contain links  to third-party websites. <strong>Easy Doc  Filing, LLC</strong> does not control, endorse, or assume responsibility for the  nature, content, accuracy, and availability of such websites. <strong>Easy Doc Filing, LLC</strong> does not guarantee availability of Website and is not responsible for  temporary unavailability due to technical issues.</p>
         <p><strong>Easy Doc Filing, LLC </strong>is not a law firm and does not offer  legal advice or recommendations. Communications with <strong>Easy Doc Filing, LLC</strong> are not protected by attorney-client privilege  in any way. Any individual who needs legal assistance must contact an attorney  or law firm licensed in his or her jurisdiction.</p>
       </div>
       <div class="col-4">
         <h5>Newsletter</h5>
         <p>If you want to receive messages with latest updates, newest products and outstanding tools, please do not forget to give your e-mail address below.</p>
       </div>
     </div>
   </div>
  <div id="footer-bottom">
    <div id="container">
      <div class="w-copyright col-md-12" style="text-align:center;">Copyright © 2018 Easy Doc Filing LLC. <div id="text-12" class="widget widget_text">
		<div class="textwidget">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-services">Terms of Services</a>
        <a href="https://app.govdocfiling.com/tracking">Check Order Status</a>
		</div>
      </div><div class="socialmedia">
        <a href="https://www.facebook.com/govdocfiling/" target="_blank"><img src="https://www.govdocfiling.com/wp-content/themes/GovDoc/img/facebook.svg" pagespeed_url_hash="2846302563" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        <a href="https://www.twitter.com/govdocfiling/" target="_blank"><img src="https://www.govdocfiling.com/wp-content/themes/GovDoc/img/twitter.svg" pagespeed_url_hash="90307886" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        <a href="https://www.instagram.com/govdocfiling/" target="_blank"><img src="https://www.govdocfiling.com/wp-content/themes/GovDoc/img/instagram.svg" pagespeed_url_hash="953008973" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        <a href="https://www.pinterest.com/govdocfiling/" target="_blank"><img src="https://www.govdocfiling.com/wp-content/themes/GovDoc/img/pinterest.svg" pagespeed_url_hash="1677399157" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        <a href="https://www.quora.com/profile/gov-doc-filing/" target="_blank"><img src="https://www.govdocfiling.com/wp-content/themes/GovDoc/img/quora.svg" pagespeed_url_hash="602279993" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
      </div>
      </div>

      <div class="footer-menu">
        <div class="one-third" id="ft_4">

        </div>
      </div>
    </div><!-- end of container -->
  </div>
</footer>













